__pycache__/
*.pyc
*.pyo
.python-version

*.log
window_inspection.log
adblock.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
*.egg-info/
pip-wheel-metadata/

build/
dist/

.venv/
venv/
env/

.idea/
.vscode/
